{% extends "base.html" %}
{% block content %}

<h3>Admin Dashboard</h3>
<h4>Pending Slangs for Approval</h4>
<ul>
    {% for slang in pending_slangs %}
        <li>
            {{ slang['slang'] }} - {{ slang['definition'] }}
            <form action="{{ url_for('approve_slang') }}" method="post" style="display:inline;">
                <input type="hidden" name="slang_id" value="{{ slang['_id'] }}">
                <button type="submit">Approve</button>
            </form>
            <form action="{{ url_for('delete_slang') }}" method="post" style="display:inline;">
                <input type="hidden" name="slang_id" value="{{ slang['_id'] }}">
                <button type="submit">Delete</button>
            </form>
        </li>
    {% endfor %}
</ul>

{% endblock %}