/* Google Fonts import*/

/* == General == */
h1,
h2,
h3,
h4,
p {
    color: #f5f5f5;
}

a {
    text-decoration: none;
    color: #9932cb;
}

li {
    color: #f5f5f5;
}

/* ==== Header ==== */

header {
    width: 100%;
    background-color: #00000010;
    display: flex;
    justify-content: center;
}

/* Nav Bar */

.nav-bar {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.logo {
    display: flex;
    flex-direction: row;
    height: 3rem;
    width: auto;
    border: none;
    border-radius: 50%;
    margin-right: 3rem;
}

/* == Backgrounds == */

body {
    display: flex;
    flex-direction: column;
    background:
        url('/static/images/blackboard_background.webp');

    /* Solid color underlay incase image fails to load */
    min-height: 100vh;
    position: relative;
    font-size: 18px;
}

/* == Index == */

.welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px; 
}

.welcome-image {
    object-fit: contain;
    max-width: 100%;
    height: 100%;
}

.intro-container, .search-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px; 
}

.intro-text {
    font-size: larger;
}

/* Index search form */

.search-form {
    display: flex;
}

.search-header {
    margin-right: 1rem;
}

/* Index Accordion */

.accordion-button.custom-header {
    background-color: #4caf50;
    color: #f5f5f5;
}

.accordion-body.custom-body {
    background-color: #f9f9f9;
    border: 1px solid #4caf50;
    padding: 10px;
}

.accordion-body li {
    color: #000000;
}

.accordion-body ul li {
    margin-bottom: 10px;
}

.accordion #collapse {
    align-items: center;
}

/* Favourite button */
.favorite-btn {
    background: none;
    border: none;
    color: #ff6b6b; /* Red color for the heart */
    font-size: 1.5em;
    cursor: pointer;
}

.favorite-btn.active {
    color: #e63946; /* Darker red when active */
}


/* == Login/out form == */

form {
    max-width: 400px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.form-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}

input, textarea {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
}

button {
    background-color: #9932cb;
    color: #f5f5f5;
    padding: 10px;
    border: none;
    cursor: pointer;
}

/* Search bar */

#search-bar {
    padding: 0.5rem;
    width: 60%;
    margin: 1rem 0;
    border-radius: 5px;
    border: 1px solid #cccccc;
}

#alphabet-filter span {
    display: inline-block;
    margin: 0.2rem;
    padding: 0.5rem;
    cursor: pointer;
    border: 1px solid #9932cb;
    border-radius: 5px;
    color: #004080;
}

#alphabet-filter span:hover {
    background: #004080;
    color: #f5f5f5;
}

/* Search results */

.slang-card {
    margin: 1rem auto;
    padding: 1rem;
    width: 80%;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.slang-card h2 {
    margin: 0;
    font-size: 1.5rem;
}

.slang-card p {
    margin: 0.5rem 0;
}

/* Add slang Page */

.add_slang-container{
    justify-content: center;
    align-items: center;
    margin-top: 30px; 
}

.form-heading {
    color: #000000;
}

/* ===== Confirmation Modal for admin slang deletion ====== */

/* Modal Background */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.502); 
    display: none; /* Hidden by default */
    justify-content: center;
    align-items: center;
}

/* Modal Content */
.modal-content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
}

/* Modal Footer */
.modal-footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

/* Button Styling */
.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.btn-danger {
    background-color: #ff0000;
    color: #f5f5f5;
}

.btn-secondary {
    background-color: #808080;
    color: #f5f5f5;
}

/* =====  Modal for admin edit_slang ====== */

/* Edit modal */
#edit-modal {
    background-color: rgba(0, 0, 0, 0.5) !important;
    display: none;
}

#edit-modal .btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

#edit-modal .btn-danger {
    background-color: #ff0000;
    color: #f5f5f5;
}

#edit-modal .btn-secondary {
    background-color: #808080;
    color: #f5f5f5;
}

/* Footer */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: sans-serif, sans-serif;
    font-size: 0.75rem;
    text-align: center;
    color: #000000;
    padding: 0.5rem 1rem;
    background-color: #f5f5f5;
    z-index: 3;
}

/*== 404 page ==*/

.img-404 {
    max-width: 600px;
    margin: 0 auto;
}

.notcool-img {
    max-width: 70%;
    height: auto;    
    display: block; 
    margin: 0 auto;  
}

.button-div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-404 { 
    color: #f5f5f5;
    background-color: #9932cb;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
}

.button-404:hover {
    background-color: #8000a3;
}

.error-container { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 15px;
}

.error-text {
    color: #f5f5f5;
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.heading-404 {
    text-align: center;
    margin: 40px 0 40px 0;
}

/* ====== Media Queries ====== */

@media screen and (min-width: 320px) {
    
}

@media screen and (max-width: 600px) {
    
}

@media screen and (min-width: 768px) {
    .welcome-image {
        margin: 30px auto;
    }

    .welcome-container {
        max-width: 35rem;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1024px) {

}

@media screen and (min-width: 1440px) {

}

