/* Google Fonts import*/

/* == General == */
h1,
h2,
h3 {
    color: whitesmoke;
}

a {
    text-decoration: none;
    color: purple;
}

li {
    color: whitesmoke;
}

/* == Header == */

header {
    width: 100%;
    background-color: #00000010;
    display: flex;
    justify-content: center;
}

.nav-bar {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.logo {
    display: flex;
    flex-direction: row;
    height: 3rem;
    width: auto;
    border: none;
    border-radius: 50%;
    margin-right: 3rem;
}

    /* == Backgrounds == */
body {
    display: flex;
    flex-direction: column;
    background:
        url('/static/images/blackboard_background.webp');
    /* Solid color underlay */
    min-height: 100vh;
    position: relative;
    font-size: 18px;
}

/* == login/out form == */

form {
    max-width: 400px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;  /* Ensures padding around form elements is uniform */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Adds shadow for depth */
}

.form-card {
    display: flex;
    flex-direction: column;
    width: 100%;  /* Ensure both cards stretch equally */
    max-width: 400px;  /* Set a limit to prevent overflow */
}

input, textarea {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
}

button {
    background-color: darkorchid;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

/* search bar */

#search-bar {
    padding: 0.5rem;
    width: 60%;
    margin: 1rem 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#alphabet-filter span {
    display: inline-block;
    margin: 0.2rem;
    padding: 0.5rem;
    cursor: pointer;
    border: 1px solid darkorchid;
    border-radius: 5px;
    color: #004080;
}

#alphabet-filter span:hover {
    background: #004080;
    color: white;
}

.letter-search {

}

.search-form {


}

/* search results */



.slang-card {
    margin: 1rem auto;
    padding: 1rem;
    width: 80%;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.slang-card h2 {
    margin: 0;
    font-size: 1.5rem;
}

.slang-card p {
    margin: 0.5rem 0;
}

