/* Google Fonts import*/

/* == General == */

/* == Header == */

header {
    width: 100%;
    background-color: #00000010;
    display: flex;
    justify-content: center;
}

.nav-bar {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.logo {
    display: flex;
    flex-direction: row;
    height: 3rem;
    width: auto;
    border: none;
    border-radius: 50%;
    margin-right: 3rem;
}

    /* == Backgrounds == */
body {
    display: flex;
    flex-direction: column;
    background:
        url('/static/images/blackboard_background.webp');
    /* Solid color underlay */
    min-height: 100vh;
    position: relative;
    font-size: 18px;
}