{% extends "base.html" %}

{% block content %}

<!--Title-->
<div class="404-heading">
<h1>ItScool | 404</h1>
</div>

 <!-- Intro message -->
 <div class="404-container">
    <h2 class="404-text">
        <br>Oooopps! It looks like something wasnt so cool!<br>
        <br>Lets fix this!<br><br>
    </h2>
    </div>
    <!-- Button to go to homepage -->
    <button id="404-home" type="button" class="home-404" onclick="location.href='index.html'" aria-label="button to return to homepage">Take me home</button>


{% endblock %}