{% extends "base.html" %}

{% block content %}

<!-- Title -->
<div class="heading-404 container-fluid">
    <h1>ItScool | 404</h1>
</div>

<div class="img-404">
    <img src="static/images/ItsCool404_img.webp" alt="its not cool title image" style="max-width: 100%; height: auto;">
</div>

<!-- Intro message -->
<div class="error-container container-fluid">
    <h2 class="error-text">
        <br>Oooopps! It looks like something wasn't so cool!<br>
        <br>Let's fix this!<br><br>
    </h2>
</div>

<!-- Button to go to homepage -->
<div class="button-div">
    <button onclick="window.location.href='{{ url_for('home') }}'" class="btn-primary button-404">Take me home!</button>
</div>



{% endblock %}