{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="profile-columnn col s12 m8 offset-m2">
        <div class="card container" id="profile-card">
            <div class="profile-body card-body">
                <h3 class="profile-heading center-align">
                    {{ username }}'s Profile
                </h3>
            </div>
        </div>
        </div>
    </div>

    <!-- Favourite Slangs section -->
    <div class="fav-container-dashboard container">
        <h3>My Favorite Slang Words</h3>

        {% if favorites %}
            <ul class="favourited-list">
                {% for slang in favorites %}
                    <li id="favorite-{{ slang._id }}">
                        <strong>{{ slang.slang }}</strong> - {{ slang.definition }} <br>
                        <em>Age:</em> {{ slang.age }} | <em>Type:</em> {{ slang.type }}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>You have not favorited any slang words yet.</p>
        {% endif %}
    </div>

{% endblock %}