{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2">
        <div class="card container" id="profile-card">
            <div class="card-body">
                <h3 class="profile-heading center-align">
                    {{ username }}'s Profile
                </h3>
            </div>
        </div>
        </div>
    </div>

    <!-- Favourite section -->
    <div class="fav-container">
        <h3>Favorite Slang Words</h3>

        {% if favorites %}
            <ul>
                {% for slang in favorites %}
                    <li>{{ slang['slang'] }}: {{ slang['definition'] }}</li>
                    <!-- Button to remove from favorites list -->
                    <button class="btn btn-danger remove-favorite-btn" data-id="{{ slang._id }}">Remove from Favorites</button>
                {% endfor %}
            </ul>
        {% else %}
            <p>You have not favorited any slang words yet.</p>
        {% endif %}
    </div>

{% endblock %}