
{% extends "base.html" %}

{% block content %}

    <div class="welcome-container container-fluid">
        <img class="welcome-image" src="/static/images/itscool_title.webp" alt="text image welcome to ItScool">
    </div>
    <div class="intro-container col background-dark">
        <h1 class="intro-text">Welcome to the ULTIMATE school slang navigation tool!</h1><br>
        <!-- <p>Find out about slang words, phrases and what they mean. Find all slang related information and tools in one neat little bundle!</p> -->
    </div>

    <!-- Search Form -->
    <div class="search-section background-dark">
        <div class="row" id="search-row">
        <h2 class="search-header">Search Slang Words</h2><br>
        </div>
        <div class="row search-form">
        <form action="{{ url_for('search') }}" method="get">
            <!-- Visually hidden label -->
            <label for="search-input" class="visually-hidden">Search for a slang word</label>
            <input id="search-input" class="index-search" type="text" name="q" placeholder="Enter a slang word..." value="{{ query }}">
            <button class="search-btn" id="search-button" type="submit">Search</button>
        </form>
        </div>
    </div>

    <!-- Display All Slangs Grouped by Letter (hidden if query is present) -->
    {% if not query %}
        <div class="letter-group background-dark">
            <h2>All Slangs</h2>
            {% if grouped_slangs %}
                <div class="accordion" id="accordionLetter">
                    {% for letter, slang_list in grouped_slangs.items() %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading{{ letter }}">
                            <button class="accordion-button custom-header" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ letter }}" aria-expanded="true" aria-controls="collapse{{ letter }}" aria-label="Expand section {{ letter }}">
                                {{ letter }}
                            </button>
                        </h2>
                        <div id="collapse{{ letter }}" class="accordion-collapse collapse" aria-labelledby="heading{{ letter }}" data-bs-parent="#accordionExample">
                            <div class="accordion-body custom-body">
                                <ul>
                                    {% for slang in slang_list %}
                                        <li id="slang-{{ slang._id }}" class="slang-item">
                                            <div class="slang-header">
                                                <button class="favorite-btn" data-id="{{ slang._id }}" aria-label="Add {{ slang.slang }} to favorites" aria-pressed="false">
                                                    <i class="fa fa-heart"></i>
                                                </button>
                                                <strong>{{ slang['slang'] }}</strong>
                                            </div>
                                            <div class="slang-definition">
                                                {{ slang['definition'] }}
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% else %}
                <p>No slangs found.</p>
            {% endif %}
        </div>
        {% endif %}
        

    <!-- Search Results -->
    {% if query %}
    <div class="search-results">
        <h2>Search Results for "{{ query }}"</h2>
        <ul class="results-list">
            {% if slangs %}
                {% for slang in slangs %}
                    <li id="slang-{{ loop.index }}">
                        {{ slang['slang'] }}: {{ slang['definition'] }}
                        <!-- Add Favourite Button -->
                        <button class="btn favorite-btn" data-id="{{ slang['_id'] }}" aria-label="Add {{ slang.slang }} to favorites" aria-pressed="false">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                        </button>
                    </li>
                {% endfor %}
            {% else %}
                    <li>No results found for "{{ query }}"</li>
            {% endif %}
        </ul>
        <a href="{{ url_for('home') }}">Back to All Slangs</a>
    </div>
    {% endif %}
{% endblock %}
